
<!DOCTYPE html>
<html>
    <head>
        <title>
            Subscribe Form
        </title>
        <link href="/css/master.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h2>
            To subscribe, please enter your name and email address in the form below.
        </h2>

        <form method="post" action="/posts" id="new_post" class="new_post">

            <div class="field">
                <label for="post_name">Name</label><br>
                <input type="text" name="name" id="post_name" size="30" />
            </div>

            <div class="field">
                <label for="post_email">Email</label><br>
                <input type="text" name="email" id="post_email" size="30" />
            </div>

            <div class="actions">
                <input type="submit" value="Subscribe" id="post_submit" />
            </div>
        </form>
        <p><br>
            <a href="/">Back</a>
        </p>
    </body>
</html>
