<!DOCTYPE html>
<html>
    <head>
        <title>
            Home
        </title>
        <link href="../styles/master.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="title_background">
            <h1>
                Everlasting Gobstoppers
            </h1>
        </div>
        <div id="text_background">
            <h2>
                Nice to meet you,
            </h2>

            <p> My name is Jesse Diaz. I wear many hats, and this website is a way of showing you a few of them.
                I have lived most of my adult life outside of America, my home country, but I have repatriated
                and am looking to learn new things and explore my passions. My main interests include programming,
                yoga, and anthropology. It is my hope that through my work and the things I create, that I can
                demonstrate the beauty and importance of each of these subjects.

            </p>
            <p>
                If you would like to follow my blog and receive updates whenever I post something, please subscribe below.
                I will also be hosting regular meetup events in Saint Louis, where I live.
            </p>

            <form method="post" action="/posts" id="new_post" class="new_post">

                <div class="field">
                    <label for="post_name">Name</label><br>
                    <input type="text" name="name" id="post_name" size="30" />
                </div>

                <div class="field">
                    <label for="post_email">Email</label><br>
                    <input type="text" name="email" id="post_email" size="30" />
                </div>

                <div class="actions">
                    <input type="submit" value="Subscribe" id="post_submit" />
                </div>
            </form>
        </body>
    </html>
