<!DOCTYPE html>
<html>
    <head>
        <title>
            Home
        </title>
        <link href="../styles/master.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="title_background">
            <h1>
                Everlasting Gobstoppers
            </h1>
        </div>
        <div id="text_background">
            <h2>
                Nice to meet you,
            </h2>

            <p> My name is Jesse Diaz. I wear many hats, and this website is a way of showing you a few of them.
                I have lived most of my adult life outside of America, my home country. I am back now and have returned
                looking to learn new things and do all of the things that I love to do. My main passions include - but are
                not limited to - programming, yoga, and Anthropology. I have worked professionally in all three fields and
                it is my sincere hope that this website will demonstrate the beauty and general awesomeness of each of these things.

            </p>
            <p>
                If you would like to follow my blog and receive updates whenever I post something, please subscribe below.
                I will also be holding regular meetup events in Saint Louis, where I live.
            </p>

            <form method="post" action="/posts" id="new_post" class="new_post">

                <div class="field">
                    <label for="post_name">Name</label><br>
                    <input type="text" name="name" id="post_name" size="30" />
                </div>

                <div class="field">
                    <label for="post_email">Email</label><br>
                    <input type="text" name="email" id="post_email" size="30" />
                </div>

                <div class="actions">
                    <input type="submit" value="Subscribe" id="post_submit" />
                </div>
            </form>
        </body>
    </html>
