<!DOCTYPE html>
<html>
    <head>
        <title>
            Thank you
        </title>
        <link href="../styles/master.css" rel="stylesheet" type="text/css" />
    </head>
    <body>

        <div class="title_background">
            <h1>
                Many thanks
            </h1>
        </div>

        <div id="text_background">
            <p>
                I appreciate your interest and will keep you informed of regular updates and events.
                I will never send you spam or advertising and will not sell your email address to third
                parties.
            </p>

            <form method="get" action="/" id="home_page" class="home_page">
                <div class="actions">
                    <input type="submit" value="Home" id="home_submit" />
                </div>
            </form>
        </div>

    </body>
</html>
