html {
  background: url(../resources/images/tokyo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title_background {
width: 97%;
  margin: 50px auto;
  padding: 20px;
  background: #5C85FF;
  opacity: 0.5;
}


#text_background {
  width: 900px;
  margin: 50px auto;
  padding: 20px;
  background: #F0F0F5;
  opacity: 0.9;
}

h1 {
  color: #FFFFFF;
  font-size: 200%;
}

p {
  color: #3A3A3B;
  font-size: 150%;
}
